@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: radial-gradient(
      70.47% 70.47% at 50% 50%,
      #fdfdfd 0%,
      #f3f1ff 50%,
      #f1fcff 100%
    ) !important;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition:
        background-color 0s 600000s,
        color 0s 600000s !important;
    }
  }

  /* Edge & IE */
  body {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hides scrollbar when not scrolling */
  }
}
